<div [ngClass]="setClasses()" *ngIf="searchResult">

  <div class="label" *ngIf="ifTypeExist('movie')"><p>Movies</p></div>
  <div *ngIf="ifTypeExist('movie')" class="carousel-container">
    <div class="carousel-inner">
      <div #trackMovies id="movies" class="track">
        <div class="card-container" *ngFor="let item of getOneType('movie')">
          <div class="card" (click)="openDialog(item.imdbID)">
            <img *ngIf="item.Poster !== 'N/A'" class="poster" src="{{item.Poster}}" alt="{{item.Title}}"/>
            <div *ngIf="item.Poster === 'N/A'" class="repl-poster">
              <p>{{item.Title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav">
      <button id="movies" class="prevMovies material-icons">
        keyboard_arrow_left
      </button>
      <button id="movies" class="nextMovies material-icons">
        keyboard_arrow_right
      </button>
    </div>
  </div>

  <div class="label" *ngIf="ifTypeExist('series')"><p>Series</p></div>
  <div *ngIf="ifTypeExist('series')" class="carousel-container">
    <div class="carousel-inner">
      <div #trackSeries id="series" class="track">
        <div class="card-container" *ngFor="let item of getOneType('series'); let i = index">
          <div class="card" (click)="openDialog(item.imdbID)">
            <img *ngIf="item.Poster !== 'N/A'" class="poster" id="{{i}}" src="{{item.Poster}}" alt="Image not available.."/>
            <div *ngIf="item.Poster === 'N/A'" class="repl-poster">
              <p>{{item.Title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav">
      <button id="series" class="prevSeries material-icons">
        keyboard_arrow_left
      </button>
      <button id="series" class="nextSeries material-icons">
        keyboard_arrow_right
      </button>
    </div>
  </div>

  <div class="label" *ngIf="ifTypeExist('game')"><p>Games</p></div>
  <div *ngIf="ifTypeExist('game')" class="carousel-container">
    <div class="carousel-inner">
      <div #trackGames id="games" class="track">
        <div class="card-container" *ngFor="let item of getOneType('game')">
          <div class="card" (click)="openDialog(item.imdbID)">
            <img *ngIf="item.Poster !== 'N/A'" class="poster" src="{{item.Poster}}" alt="Image not available.."/>
            <div *ngIf="item.Poster === 'N/A'" class="repl-poster">
              <p>{{item.Title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="nav">
        <button id="games" class="prevGames material-icons">
          keyboard_arrow_left
        </button>
      <button id="games" class="nextGames material-icons">
        keyboard_arrow_right
      </button>
    </div>
  </div>




</div>