$picWidth:200px;
$picHeight:($picWidth / (4/6));


.poster{
    height: $picHeight;
    width: $picWidth;
}

.poster:hover{
    height: $picHeight + 50;
    width: $picWidth + 50;
    box-shadow: 20px 20px 20px black;
}

.movie{
    overflow: hidden;
}