@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.searchResult{
    margin: 0 5%;
    overflow: hidden;
}

.label{
    margin: 100px 0 25px 2%;
    padding: 0 10px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: -7px -4px 20px;
    border-radius: 6px 50px 50px 6px;

    p {
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, #ff0505, #000, #ff0505);
        background-repeat: no-repeat;
        background-size: 100%;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, .5);
        transition: 500ms;
    }
}

.label:hover{ 
    p:hover{
        background-size: 80%;
        animation: animate 3s linear infinite;
    }
    
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }


$picWidth:200px;
$picHeight:($picWidth / (4/6));

.carousel-container{
	width: auto;
    min-height: 200px;
    position: relative;
}
.carousel-container .carousel-inner{
    background: rgba(0, 0, 0, .58);
    padding: 2%;
    border-bottom: 1px solid;
    box-shadow: 0px -3px 33px;
    border-radius: 30px;
}

.carousel-container .track{
    display: inline-flex;
    transition: transform 0.7s;
}

.carousel-container .card-container{
	width: auto;
	height: auto;
	padding-right: 40px;
}
.carousel-container .card-container .card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav button{
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;

}

.nav{
    .prevMovies, .prevSeries, .prevGames{
        left: 0px;
        display: none;
    }
    

    .nextMovies, .nextSeries, .nextGames{
        right: 0px;
    }
    .nextMovies.hide{
        display: none;
    }
    .nextSeries.hide{
        display: none;
    }
    .nextGames.hide{
        display: none;
    }
}
.nav .prevMovies.show{
    display: block;
}
.nav .prevSeries.show{
    display: block;
}
.nav .prevGames.show{
    display: block;
}

.poster{
    width: $picWidth;
	height: $picHeight;
    border-radius: 10%;
    border: 2px solid black;
    transition: 500ms;
    background: url("/assets/imageNotFound.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    opacity: 0.8;
    box-shadow: -7px -4px 16px;
}
.info{
    top: 0;
    visibility: visible;
}

.repl-poster{
    background: url("/assets/imageNotFound.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: $picWidth;
    height: $picHeight;
    text-align: center;
    border-radius: 10%;
    border: 2px solid black;
    overflow: hidden;
    transition: 500ms;
    opacity: 0.8;
    box-shadow: -7px -4px 16px;

    p{
        padding: 0 5%;
    }
}
.repl-poster:hover{
    box-shadow: 14px 20px 20px;
    border-radius: 10%;
    cursor: pointer;
    opacity: 1;
}


.poster:hover{
    box-shadow: 14px 20px 20px;
    border-radius: 10%;
    cursor: pointer;
    //background: linear-gradient(to top right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    opacity: 1;
}


@media screen and (max-width: 1024px){
    .carousel-container .carousel-inner{
        overflow: scroll;
    }

    .nav button{
        display: none !important;
    }
    
    .track{
        margin: 22px 0 0 22px;
    }
}

@media screen and (max-width: 480px){
        
    .label{
        margin: 100px 0 0 25px;
        p{
            font-size: 1.5em;
            letter-spacing: 0;
        }
    }
    .poster,
    .repl-poster{
        width: $picWidth/1.5;
        height: $picHeight/1.5;
    }
    
}