*{
  box-sizing: border-box;
}
.center{
  text-align: center;
}

.container{
  max-height: 90vh;
}
.row{
  width: 100%;
  display: inline-flex;
  margin-bottom: 2rem;
  .col{
    display: block;
    width: 100%;
  }
}

.noView{
  position: relative;
  z-index: 5;
  background: #424242;
}
#top{
  z-index: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 50%;
  .row{
    text-align: left;
  }
  .right{
    text-align: right;
  }
  .small-show{
    display: none;
  }
}


#bottom{
  background: rgba(128, 128, 128, 0.3);
  padding: 2%;
  border-radius: 10px;
  .col{
    text-align: left;
  }
}

h4{
  margin:0;
}
.plot{
  background: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  h3{
    margin: 0 25%;
  }
}

#break{
  width: 20%;
}

@media screen and (max-width: 900px){
  #top{
    .col{
      text-align: center;
    }
    .right{
      text-align: left;
    }
  }
  .plot{
    h3{
      margin: 0;
      padding: 2% 0;
    }
  }
}

@media screen and (max-width: 650px){
  #top{
    position: relative;
    display: block;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    .row{
      padding: 0 2%;
      margin-bottom: 0;
      .col{
        text-align: left;
      }
    }
    .small-hide{
      display: none;
    }
    .small-show{
      display: contents;
    }
  }
}

