<div class="container center" *ngIf="movie">
    <h2 mat-dialog-title>{{movie.Title}}</h2>
    <mat-dialog-content class="mat-typography center">
        <div id="top" class="row center">
            <div class="col small-hide">
                <div class="row right">
                    <div class="col">
                        <div>
                            <h4>Runtime</h4>
                            <h5>{{movie.Runtime}}</h5>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h4>Rated</h4>
                            <h5>{{movie.Rated}}</h5>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row right">
                    <div class="col">
                        <div>
                            <h4>Aired</h4>
                            <h5>{{movie.Year}}</h5>
                        </div>
                    </div>
                    <div *ngIf="movie.totalSeasons" class="col">
                        <div>
                            <h4>Total Seasons</h4>
                            <h5>{{movie.totalSeasons}}</h5>
                        </div>
                    </div>
                    <div *ngIf="!movie.totalSeasons" class="col">
                        <div>
                            <h4>Released</h4>
                            <h5>{{movie.Released}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="{{movie.Poster}}" alt="no image" style="width: 200px; height: 300px;">
                <div class="col"><h4>{{movie.imdbRating}}/10</h4></div>
            </div>
            <div class="col">
                <div class="row left">
                    <div class="col">
                        <h4>Genre</h4>
                        <h5>{{movie.Genre}}</h5>
                    </div>
                </div>
                <br>
                <div class="row left">
                    <div class="col">
                        <h4>Language</h4>
                        <h5>{{movie.Language}}</h5>
                    </div>
                </div>
            </div>
            <div class="col small-show">
                <div class="row">
                    <div class="col">
                        <div>
                            <h4>Runtime</h4>
                            <h5>{{movie.Runtime}}</h5>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <h4>Rated</h4>
                            <h5>{{movie.Rated}}</h5>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div>
                            <h4>Aired</h4>
                            <h5>{{movie.Year}}</h5>
                        </div>
                    </div>
                    <div *ngIf="movie.totalSeasons" class="col">
                        <div>
                            <h4>Total Seasons</h4>
                            <h5>{{movie.totalSeasons}}</h5>
                        </div>
                    </div>
                    <div *ngIf="!movie.totalSeasons" class="col">
                        <div>
                            <h4>Released</h4>
                            <h5>{{movie.Released}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="noView">
            <div class="row">
                <div class="col plot">
                    <h3>{{movie.Plot}}</h3>
                </div>
            </div>
            <div id="bottom" class="row">
                <div class="col">
                    <div>
                        <h4>Writers</h4>
                        <h5>{{movie.Writer}}</h5>
                    </div>
                    <br>
                    <div>
                        <h4>Actors</h4>
                        <h5>{{movie.Actors}}</h5>
                    </div>
                <br>
                <div>
                    <h4>Directors</h4>
                    <h5>{{movie.Director}}</h5>
                </div>
            </div>
            <div id="break" class="col"></div>
            <div class="col">
                <div>
                    <h4>Country</h4>
                    <h5>{{movie.Country}}</h5>
                </div>
                <br>
                <div>
                    <h4>Awards</h4>
                    <h5>{{movie.Awards}}</h5>
                </div>
                <br>
                <h4><a href="https://www.imdb.com/title/{{movie.imdbID}}">Press to see {{movie.Type}} on IMDB</a></h4>
            </div>
        </div>
    </div>
    </mat-dialog-content>
</div>
